<!DOCTYPE html>
<html>
<head lang="zh-cn">
	<meta charset="utf-8">
	<title>上传文件</title>
</head>
<body class="container">
	<!-- 上传文件一个盒子 -->
	<div class="row">
        <div class="col-md-12">
            <!-- 整合为一个表单 -->
            <form action="{:url('Notice/insert')}" method="post" enctype="multipart/form-data">
                <!-- 文本输入框 -->
                <div class="form-group">
                    <label for="title">通知标题：</label>
                    <textarea type="text" id="title" name="title" rows="3" placeholder="请输入通知标题" required></textarea>
                </div>

                <!-- 文本输入框 -->
                <div class="form-group">
                    <label for="author">通知作者：</label>
                    <textarea type="text" id="author" name="author" rows="3" placeholder="请输入通知作者" required></textarea>
                </div>

                <!-- 文本输入框 -->
                <div class="form-group">
                    <label for="content">通知内容：</label>
                    <textarea type="text" id="content" name="content" rows="3" placeholder="请输入通知内容" required></textarea>
                </div>

                <!--上传图片-->
                <div class="form-group">
                    <label for="file">通知图片：</label>
                    <input type="file" id="photo_path" name="file" required>
                </div>
    
                <!-- 日期选择器 -->
                <div class="form-group">
                    <label for="time">请选择通知发布日期：</label>
                    <input type="date" id="time" name="time" required>
                </div>
    
                <!-- 提交按钮 -->
                <button type="submit" class="btn btn-primary">提交</button>
            </form>
    
            <!-- 显示上传文件的区域 -->
            <div id="uploaded-file">
            </div>
        </div>
    </div>
    
</body>
</html>