{extend name="userIndex"}
{block name="title"}通知公告{/block}
{block name="content"}
    <div class="container">
        <div class="row">
            <!-- 增加垂直导航栏 -->
            <div class="col-md-2">
                <ul class="nav flex-column col-">
                    <li class="nav-item">
                        <a class="nav-link disabled"><h4>新闻动态</h4></a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link" href="{:url('News/index')}"><h4>新闻快讯</h4></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{:url('Notice/index')}"><h4>通知公告</h4></a>
                   </li>
                </ul>
            </div>
            <div class="col-md-10">
                <div class="breadcrumb">
                    <h2 class="inline-header breadcrumb-right">通知公告</h2>
                    <span class="inline-span"><a href="{:url('Web/index')}">网站首页</a></span>
                </div>
                <div class="jumbotron jumbotron-fluid" style="background-color: rgb(248, 243, 237);">
                    <div class="container">
                      <h1 class="display-4 title-Style">{$notices.title}</h1>
                      <div class="info-bar" style="margin-top: 10px; margin-bottom: 10px;"><p>发布日期：{$notices.time}&#20&#20&#20&#20&#20&#20&#20&#20作者：{$notices.author}</p></div>
                      <p class="lead">{$notices.content}</p>        
                    </div>
                </div>
                <!-- 上一条 -->
                <div id="news-footer">
                    {if condition="$prevId"}
                    <!-- 如果有下一条公告，生成链接 -->
                    <a href="{:url('notice/detail', ['id' => $prevId])}"><<上一条公告:  {$noticeList[$prevIndex]['title']}</a>
                    {else}
                    <h3>已经是最新公告了！</h3>
                    {/if}
                </div>
                <!--  下一条 -->
                <div id="news-footer">
                    {if condition="$nextId"}
                    <!--  有下一条公告，生成链接 -->
                    <a href="{:url('notice/detail', ['id' => $nextId])}">>>下一条公告:  {$noticeList[$nextIndex]['title']}</a>
                    {else}
                    <h3>没有更多公告了！</h3>
                    {/if}
                </div>
            </div>
        </div>
    </div> 
    <div class="purple-box"></div>
    <script src="/thinkphp5guide/public/static/bootstrap-4.6.2-dist/jquery-3.5.1.slim.min.js"  crossorigin="anonymous"></script>
    <script src="/thinkphp5guide/public/static/bootstrap-4.6.2-dist/bootstrap-4.6.2.bundle.min.js" crossorigin="anonymous"></script>  
{/block}