{extend name="userIndex"}
{block name="title"}通知公告{/block}
{block name="content"}
    <div class="container">    
        <div class="row">
            <!-- 增加垂直导航栏 -->
            <div class="col-md-2">
                <ul class="nav flex-column col-">
                    <li class="nav-item">
                        <a class="nav-link disabled"><h4>新闻动态</h4></a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link" href="{:url('News/index')}"><h4>新闻快讯</h4></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{:url('Notice/index')}"><h4>通知公告</h4></a>
                   </li>
                  </ul>
            </div>

            <div  class="col-md-10">   
                <div class="breadcrumb">
                    <h2 class="inline-header breadcrumb-right">通知公告</h2>
                <span class="inline-span"><a href="{:url('Web/index')}">网站首页</a></span>
                </div>
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                    <a href="#"><h1 class="display-4">重要公告</h1></a>
                    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
                    <ul class="list-unstyled">
                        {volist name="notices" id="notice"}
                        <li class="news-item"><a href="{:url('notice/detail', ['id' => $notice['id']])}" class="bullet-text">{$notice->getData('title')}</a></li>
                        {/volist}
                    </ul>          
                    </div>
                    <!-- 显示分页导航 -->
                    <div class="pagination">
                    {$notices->render()}
                    </div> 
                </div>
            </div>
    </div>
    <div class="purple-box"></div>
    <script src="/thinkphp5guide/public/static/bootstrap-4.6.2-dist/jquery-3.5.1.slim.min.js"  crossorigin="anonymous"></script>
    <script src="/thinkphp5guide/public/static/bootstrap-4.6.2-dist/bootstrap-4.6.2.bundle.min.js" crossorigin="anonymous"></script>   
{/block}