<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>通知公告</title>

    <script src="/thinkphp5guide/public/static/bootstrap-4.6.2-dist/jquery-3.5.1.slim.min.js"  crossorigin="anonymous"></script>
    <script src="/thinkphp5guide/public/static/bootstrap-4.6.2-dist/bootstrap-4.6.2.bundle.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/thinkphp5guide/public/static/bootstrap-4.6.2-dist/css/bootstrap.min.css">
    <style type="text/css">
    .breadcrumb {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .bullet-text::before {
        content: '\2022'; /* 使用Unicode编码生成圆点符号 */
        color: #000; /* 设置圆点颜色 */
        margin-right: 8px; /* 调整圆点与文本之间的间距 */
    }
    a {
        color: 	#778899;
        text-decoration: none;
    }

    a:hover {
        color: #BA55D3;
        text-decoration: none;
    }
    </style>

</head>
<body class="container">
  <!-- 校徽 -->
  <div style="width: 1200px;height: 175px;">
    <img style="height: 170px;width: 1200px;"
        src="/thinkphp5guide/public/static/picture/10.png" />
</div>
<!-- 菜单 -->
<div class="row">
    <div class="col-md-12">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{:url('Web/index')}">
                <img src="/thinkphp5guide/public/static/picture/top.jpg" width="55" height="55" alt="首页">
            </a>
           
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{:url('News/index')}" role="button" data-toggle="dropdown" aria-expanded="false">
                      新闻动态
                    </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="{:url('News/index')}">新闻快讯</a>
                      <a class="dropdown-item" href="{:url('Notice/index')}">通知公告</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{:url('Experiment/index')}" role="button" data-toggle="dropdown" aria-expanded="false">
                      实验教学
                    </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="{:url('Experiment/index')}">专业实验</a>
                      <a class="dropdown-item" href="#">创新创业实验</a>
                      <a class="dropdown-item" href="#">跨专业综合实验</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{:url('Download/index')}">资料下载</a>
                </li>
                  <li class="nav-item">
                    <a class="nav-link disabled">天津职业技术师范大学</a>
                </li>
              </ul>
            </div>
          </nav>
</div>

    <!-- 图片 -->
    <div class="" style="width: 1200px;height: 175px;">
        <img style="height: 170px;width: 1200px;"
        src="/thinkphp5guide/public/static/picture/9.png">
    </div>

    <div class="container">    
        <div class="row">
            <!-- 增加垂直导航栏 -->
            <div class="col-md-2">
                <ul class="nav flex-column col-">
                    <li class="nav-item">
                        <a class="nav-link disabled"><h4>新闻动态</h4></a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link" href="{:url('News/index')}"><h4>新闻快讯</h4></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{:url('Notice/index')}"><h4>通知公告</h4></a>
                   </li>
                  </ul>
            </div>

            <div  class="col-md-10">   
                <div class="breadcrumb">
                    <h2 class="inline-header breadcrumb-right">新闻快讯</h2>
                <span class="inline-span"><a href="{:url('Web/index')}">网站首页</a></span>
                </div>
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                    <a href="#"><h1 class="display-4">重要公告</h1></a>
                    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
                    <ul class="list-unstyled">
                        {volist name="notices" id="notice"}
                        <li><a href="#" class="bullet-text">{$notice->getData('text')}</a></li>
                        {/volist}
                    </ul>          
                    </div>
                    <!-- 显示分页导航 -->
                    <div class="pagination">
                    {$notices->render()}
                    </div> 
                </div>
            </div>
    </div>

    
</body>
</html>
