<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="utf-8">
    <title>编辑数据</title>
    <style>
        .must {
            color: red;
        }
    </style>
</head>
<body class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- 整合为一个表单 -->
            <form action="{:url('Download/insert')}" method="post" enctype="multipart/form-data">
                <!-- 文本输入框 -->
                <div class="form-group">
                    <span  class="must">*</span>
                    <label for="name">请输入资料名称：</label>
                    <textarea type="text" id="name" name="name" rows="3" placeholder="请输入资料名称" required><?php echo isset(session('formData')['name']) ? session('formData')['name'] : ''; ?></textarea>
                </div>
                <!-- 文件上传框 -->
                <div class="form-group">
                    <span  class="must">*</span>
                    <input type="file" name="file" /> 
                </div>
                <!-- 日期选择器 -->
                <div class="form-group">
                    <span  class="must">*</span>
                    <label for="time">请选择新闻发布日期：</label>
                    <input type="date" id="time" name="time" required>
                </div>
                <!-- 提交按钮 -->
                <button type="submit" class="btn btn-primary">提交</button>
            </form>
        </div>
    </div>
</body>
