{extend name="userIndex"}
{block name="title"}资料下载{/block}
{block name="content"}
    <div class="container">
        <div class="row">
            <!-- 增加垂直导航栏 -->
            <div class="col-md-2">
                <ul class="nav flex-column col-">
                    <li class="nav-item">
                        <a class="nav-link disabled"><h4>资料下载</h4></a>
                    </li>
                </ul>
            </div>

            <div class="col-md-10">
                <div class="breadcrumb">
                    <h2 class="inline-header breadcrumb-right">资料下载</h2>
                <span class="inline-span"><a href="{:url('Web/index')}">网站首页</a></span>
                </div>
        
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                      <h1 class="display-4">资料目录</h1>
                      <ul class="list-unstyled">
                        {volist name="downloads" id="download"}
                        <li class="news-item"><a href="#" class="bullet-text">{$download->getData('name')}</a></li>
                        {/volist}
                      </ul>          
                    </div>
                    <!-- 显示分页导航 -->
                    <div class="pagination">
                      {$downloads->render()}
                    </div>  
                </div>
            </div>
        </div>     
    </div>
<script src="/thinkphp5guide/public/static/bootstrap-4.6.2-dist/jquery-3.5.1.slim.min.js"  crossorigin="anonymous"></script>
<script src="/thinkphp5guide/public/static/bootstrap-4.6.2-dist/bootstrap-4.6.2.bundle.min.js" crossorigin="anonymous"></script>
{/block}