{extend name="adminIndex"}
{block name="title"}
新闻管理
{/block}
{block name="content"}
    <!-- 图片 -->
    <div class="" style="width: 1200px;height: 175px;">
        <img style="height: 170px;width: 1200px;"
        src="/thinkphp5guide/public/static/picture/9.png">
    </div>

    <!-- 增加垂直导航栏 -->
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <ul class="nav flex-column col-">
                    <li class="nav-item">
                        <a class="nav-link" href="{:url('News/upload')}"><h4>新闻管理</h4></a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link" href="{:url('Notice/upload')}"><h4>通知管理</h4></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-10">   
                <div class="breadcrumb">
                    <h2 class="inline-header breadcrumb-right">新闻快讯</h2>
                <span class="inline-span"><a href="{:url('Web/index')}">网站首页</a></span>
                </div>
                <div class="col-md-4 text-left">
                    <a href="{:url('add')}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>&nbsp;增加</a>
                </div>
                <div class="container">
                    <div class="row">
                        <table class="table table-hover table-bordered"> 
                            <tr>
                                <th>序号</th>
                                <th>新闻名</th>
                                <th>新闻时间</th>
                                <th>作者</th>
                                <th>操作</th>
                                <th>置顶</th>
                            </tr>          
                            {volist name="news" id="newsItem" key="key"}
                            <tr class="{if $newsItem.Sort eq 1}top-news{else}normal-news{/if}">
                                <th>{$key}</th>
                                <th>{$newsItem.Description}</th>
                                <th>{$newsItem.time}</th>
                                <th>{$newsItem.author}</th>
                                <th>
                                    <a href="{:url('edit', ['id' => $newsItem.id])}">编辑</a>
                                    &nbsp;&nbsp;
                                    <a href="{:url('delete', ['id' => $newsItem.id])}">删除</a>
                                </th>
                                <th>
                                    <form action="{:url('setTop')}" method="post" style="display:inline;">
                                        <input type="hidden" name="id" value="{$newsItem.id}">
                                        <button type="submit" class="btn btn-sm btn-secondary">置顶新闻</button>
                                    </form>
                                    <form action="{:url('recallTop')}" method="post" style="display:inline;">
                                        <input type="hidden" name="id" value="{$newsItem.id}">
                                        <button type="submit" class="btn btn-sm btn-secondary">取消置顶</button>
                                    </form>
                                </th>
                            </tr>
                            {/volist}
                        </table>
                        <nav aria-label="Page navigation">
                            <ul class="pagination">                           
                                <li class="page-item<?= !isset($prevPageUrl) ? ' disabled' : '' ?>">
                                    <a class="page-link" href="<?= isset($prevPageUrl) ? $prevPageUrl : '#' ?>">上一页</a>
                                 </li>
                                <?php for($i = 1; $i <= $totalPages; $i++): ?>
                                <li class="page-item<?= $currentPage == $i ? ' active' : '' ?>">
                                    <a class="page-link" href="?page=<?= $i ?>"><?= $i ?></a>
                                </li>
                                <?php endfor; ?>
                                <li class="page-item<?= !isset($nextPageUrl) ? ' disabled' : '' ?>">
                                    <a class="page-link" href="<?= isset($nextPageUrl) ? $nextPageUrl : '#' ?>">下一页</a>
                                </li>                           
                            </ul>
                        </nav>
                    </div>  
                </div>
            </div>  
        </div> 
    </div>
{/block}