{extend name="adminIndex"}
{block name="title"}
用户管理
{/block}
{block name="content"}    
    <div class="col-md-4 text-left">
        <a href="{:url('add')}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>&nbsp;增加</a>
    </div>
    <div class="row mt-3 col-md-10">
        <table class="table table-hover table-bordered">
            <tr>
                <th>序号</th>
                <th>姓名</th>
                <th>用户名</th>
                <th>邮箱</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            {volist name="users" id="user" key="key"}
            <tr>
                <td>{$user.userId}</td>
                <td>{$user.name}</td>
                <td>{$user.username}</td>
                <td>{$user.email}</td>
                <td>{$user.create_date}</td>
                <td>
                    <a href="{:url('edit', ['id' => $user.userId])}">编辑</a>
                    &nbsp;&nbsp;
                    <a href="{:url('delete', ['id' => $user.userId])}">删除</a>
                </td>
            </tr>
            {/volist}
        </table>
        <!-- 显示分页导航 -->
        <div class="pagination">
            {$users->render()}
        </div>   
    </div>
{/block}